@model IEnumerable<ED2_Lab1.Models.Archivo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Compresion LZW", "CompressFile") |
    @Html.ActionLink("Descompresion LZW", "DecompressFile")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreArchivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCompresion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razon_compresion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.factor_compresion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentaje_reduccion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreArchivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCompresion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon_compresion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.factor_compresion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentaje_reduccion)
        </td>
    </tr>
    }

</table>
